@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
	@apply bg-surface-200 text-surface-700 overflow-y-scroll font-[Inter] text-[14px];
}

.container {
	@apply px-8;
}

.iconify {
	@apply aspect-square;
}
